---
http_interactions:
- request:
    method: get
    uri: http://congress.api.sunlightfoundation.com/committees?apikey=de62c61871ec4130971b3c05e33c2caa&chamber=senate
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"chamber":"senate","committee_id":"SSGA19","name":"Regulatory
        Affairs and Federal Management","parent_committee_id":"SSGA","subcommittee":true},{"chamber":"senate","committee_id":"SSGA18","name":"Federal
        Spending Oversight and Emergency Management","parent_committee_id":"SSGA","subcommittee":true},{"chamber":"senate","committee_id":"SSGA16","name":"the
        Efficiency and Effectiveness of Federal Programs and the Federal Workforce","parent_committee_id":"SSGA","subcommittee":true},{"chamber":"senate","committee_id":"SSGA15","name":"Financial
        and Contracting Oversight","parent_committee_id":"SSGA","subcommittee":[...]
