---
http_interactions:
- request:
    method: get
    uri: http://congress.api.sunlightfoundation.com/legislators?apikey=de62c61871ec4130971b3c05e33c2caa&chamber=senate
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"bioguide_id":"S001197","birthday":"1972-02-22","chamber":"senate","contact_form":null,"crp_id":"N00035544","district":null,"facebook_id":"SenatorSasse","fax":null,"fec_ids":["S4NE00090"],"first_name":"Benjamin","gender":"M","govtrack_id":"412671","in_office":true,"last_name":"Sasse","leadership_role":null,"lis_id":"S382","middle_name":"Eric","name_suffix":null,"nickname":null,"oc_email":"Sen.Sasse@opencongress.org","ocd_id":"ocd-division/country:us/state:ne","office":"386a
        Russell Senate Office Building","party":"R","phone":"202-224-4224","senate_class":2,"state":"NE","state_name":"Nebraska","state_rank":"junior","term_end":"2021-01-03","term_start":"2015-01-06","thomas_id":"02289","title":"Sen","twitter_id":"SenSasse","website":"http://www.sasse.senate.gov"},{"bioguide_id":"R000605","birthday":"1954-10-24","chamber":"senate","contact_form":null,"crp_id":"N00035187","district":null,"facebook_id":"SenatorMikeRounds","fax":null,"fec_ids":["S4SD00049"],"first_name":"Mike","gender":"M","govtrack_id":"412669","in_office":true,"last_name":"Rounds","leadership_role":null,"lis_id":"S381","middle_name":null,"name_suffix":null,"nickname":null,"oc_email":"Sen.Rounds@opencongress.org","ocd_id":"ocd-division/country:us/state:sd","of[...]
